div.alert {
    border: 2px solid grey;
    border-radius: 5px;
    font-weight: bold;
    margin: 2px 0;
    padding: 0 5px;
    text-align: center;
}

.alert.alert-success {
    background-color: lightgreen;
}


.alert.alert-info {
    background-color: khaki;
}

.alert.alert-error {
    background-color: tomato;
}